* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #f1f1f1;
}

body {
    overflow-x: hidden;
}

.header {
    padding: 10px;
    top: 0;
    width: 100%;
}

nav { 
    width: 80%;
    position: sticky;
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 5px;
}

.logo img {
    display: block;
    width: 200px;
    margin-top: 10px;
}

.nav-links {
    text-align: center;
}

.nav-links ul {
    list-style: none;
    margin-top: 5px;
}

.nav-links ul li { 
    margin: 0 10px;
    display: inline-block;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
}

.carousel-container {
    position: relative;
    max-width: 60%;
    margin: 20px auto;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.carousel-slide.active {
    opacity: 1;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
    position: absolute;
    bottom: -570px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators li.active {
    background-color: #333;
}

.carousel-slide .caption {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000000;
    width: 80%;
    padding: 0px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel-slide.active .caption {
    opacity: 1;
}

.caption p {
    font-size: 14px;
}

/* INVITED SPEAKERS PAGE */
.title {
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
}

.photo {
    border-radius: 10px;
}

.name {
    color: #0056B9;
}

.paragraph1 {
    width: 40%;
    float: right;
    text-align: justify;
    margin-top: 30px;
    margin-right: 200px;
    border-right: 5px solid #0056B9;
    padding: 15px;
    font-size: 20px;
}

p.paragraph2 {
    width: 40%;
    float: left;
    text-align: justify;
    margin-top: 80px;
    margin-left: 200px;
    border-left: 5px solid #FFD800;
    padding: 15px;
    font-size: 20px;
}

.paragraphr {
    width: 40%;
    float: right;
    text-align: justify;
    margin-top: 80px;
    margin-right: 200px;
    border-right: 5px solid #0056B9;
    padding: 15px;
    font-size: 16px;
}

p.paragraph3 {
    width: 40%;
    float: left;
    text-align: justify;
    margin-top: 80px;
    margin-left: 200px;
    border-left: 5px solid #FFD800;
    padding: 15px;
    font-size: 17.9px;
}

.paragraph4 {
    width: 40%;
    float: right;
    text-align: justify;
    margin-top: 80px;
    margin-right: 200px;
    border-right: 5px solid #0056B9;
    padding: 15px;
    font-size: 15.8px;
}

.paragraph5 {
    width: 40%;
    float: left;
    text-align: justify;
    margin-top: 80px;
    margin-left: 200px;
    border-left: 5px solid #FFD800;
    padding: 15px;
    font-size: 0.17in;
}

.paragraph6 {
    width: 40%;
    float: right;
    text-align: justify;
    margin-top: 80px;
    margin-right: 200px;
    border-right: 5px solid #0056B9;
    padding: 15px;
    font-size: 18.7px;
}

.paragraph7 {
    width: 40%;
    float: left;
    text-align: justify;
    margin-top: 80px;
    margin-left: 200px;
    border-left: 5px solid #FFD800;
    padding: 15px;
    font-size: 22px;
}

.paragraph8 {
    width: 40%;
    float: right;
    text-align: justify;
    margin-top: 80px;
    margin-right: 200px;
    border-right: 5px solid #0056B9;
    padding: 15px;
    font-size: 16.3px;
}

.paragraph9 {
    width: 40%;
    float: left;
    text-align: justify;
    margin-top: 80px;
    margin-left: 200px;
    border-left: 5px solid #FFD800;
    padding: 15px;
    font-size: 18px;
}

.paragraph10 {
    width: 40%;
    float: right;
    text-align: justify;
    margin-top: 80px;
    margin-right: 200px;
    border-right: 5px solid #0056B9;
    padding: 15px;
    font-size: 18.5px;
}

.paragraph11 {
    width: 40%;
    float: left;
    text-align: justify;
    margin-top: 80px;
    margin-left: 200px;
    border-left: 5px solid #FFD800;
    padding: 15px;
    font-size: 28px;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 30px; 
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 9999;
}

#scrollToTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    left: 34%;
    width: 32%;
    background-color: #f1f1f1;
    padding: 5px 0;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
}

.sponsor-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.ty {
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.sponsor-logos img {
    max-height: 30px;
}
  